.main2{
    position: static;
    
    
}
.AT h2{
    margin-left: 30px;
    color: rgba(56, 56, 116, 1);
    position: static;
    display: flex;
    justify-content: center;
    
}
.SA{
    margin-top: 40px;
    height: 30px;
    width: 300px;
    margin-bottom: 30px;

}
.SA1{
    display: flex;
    justify-content: center;
    
}

.LP{
    height: 500px;
}

.SI{
    height: 1800px;
}

